* {
    margin: 0;
    padding: 0;
}

/*================== ĐÂY LÀ CSS CHO MENU  ==================*/

/* ====================== ĐÂY LÀ CSS CHO HOME CONTENT=============*/
.homeContent-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0) 30%, rgb(0, 0, 0) 100%), url('../public/image/img-home.jpeg');
    background-color: red;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    min-width: none;
    min-height: 700px;
}

.homeContent-content {
    position: absolute;
    bottom: 40%;
    left: 8%;
}

.homeContent-button {
    position: absolute;
    bottom: 30%;
    right: 8%;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 50px;
    row-gap: 30px;
}
.home-button{
    border: black;
    height: 100px;
    width: 150px;
    border-radius: 80px 0px;
    padding: 10px;
    background-color: black;
    color: green;
    font-size: 25px;
    font-family: 'Teko';
}
.home-button:hover{
color: white;
}

/* ======================= ĐÂY LÀ CSS CHO REGISTER-LOGIN FORM =============== */
.register-login-container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-login-form {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 30%;
}

.register-login-form h1 {
  text-align: center;
  margin-bottom: 20px;
}

.register-login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.register-login-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.register-login-form button:hover {
  background-color: #0056b3;
}

/* ======================= ĐÂY LÀ CSS CHO CREATE TEAM ==============*/
.create-team-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.player-management-section{
  /* border: 1px solid gray; */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin-left: 15%;
}
.label-create{
  color: black;
  font-weight: bold;
}
.box-player{
  border: 2px solid gray;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}
.button-create{
  background-color: black;
  color: green;
  display: flex;
  font-size: 20px;
  align-items: center;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  margin-left: 30%;
  align-self: center;
  justify-content: center;
  margin-top: 20px;
}
.button-create:hover{
  cursor: pointer;
  color: white;
}
.button-add{
  background-color: black;
  color: green;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  border: none;
  align-self: center;
  margin-left: 35%;
  margin-top: 5px;
}
.button-add:hover{
  color: white;
}
.button-remove{
  background-color: rgb(21, 19, 84);
  color: white;
  border-radius: 10px;
  padding: 10px;
  width: 50%;
  border: none;
  display: flex;
  align-self: center;
 justify-content: center;
}
.button-remove:hover{
  color: red;
  background-color: gray;
}
.team-creation-section{
  border: 5px solid gray;
  width: 30%;
  border-radius: 10px;
  padding: 10px;
}

/*====================== HẾT CSS CHO CREATE TEAM ================*/


/*================= ĐÂY LÀ CSS CHO HIGHLIGHT ==================*/

.highlight-page{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.highlight-title{
  margin: 2% 0%;
  display: flex;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
}

.box-upload{
  border: 1px solid black;
  margin: 2% 0;
  height: 200px;
  display: flex;
  justify-content: center;
  width: 50%;
  align-items: center;
}
.box-img-highlight{
  display: flex;
  height: 100%;
  width: 500px;
  flex-direction: column;
}
.box-img{
  border: 1px solid black;
  margin: 20px;
}
.highlight-image{
  display: block;
  max-width: 100%;
  max-height: 100%;
  background-size: contain;
}

.highlight-page__upload-button:hover {
  background-color: #0056b3;
}

.highlight-page__image {
  display: block;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-size:cover;
}
.box-img-highlight{
  height: 500px;
  width: 500px;
}

@media (max-width: 768px) {
  .highlight-page {
      padding: 15px;
  }
}



/* ======================= ĐÂY LÀ CSS CHO FOOTER ====================== */
.myleague-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  margin-top: 5%;
}

.myleague-footer {
  width: 80%;
  text-align: center;
  margin-top: 2rem;
  color: white;
}

.myleague-footer p {
  margin: 0.5rem 0;
}

.myleague-community {
  width: 80%;
  text-align: center;
  margin-top: 2rem;
  color: white;
}


  /*============================ HẾT CSS CHO FOOTER ====================*/


  /*==================== ĐÂY LÀ CSS CHO FINDTEAM PAGE ================*/
.container-findteam ul {
  display: grid; 
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  list-style-type: none;
  padding: 0; 
  margin: 1rem;
}

.container-findteam li {
  border: 1px solid #ccc; 
  padding: 20px; 
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  
}
.container-findteam li h2 {
  font-size: 20px; 
  margin-bottom: 10px; 
}

.container-findteam li p {
  margin: 5px 0;
}

.container-findteam li button {
  background-color: #007bff; 
  color: #fff; 
  border: none; 
  padding: 5px 10px; 
  cursor: pointer; 
}

.container-findteam li button:hover {
  background-color: #0056b3; 
}
.button-findteam{
  display: flex;
  align-self: center;
  border-radius: 20px;
}